.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  /* Exactly 3 cards per row, accounting for padding */
  width: calc(33.333% - 20px); 
  margin: 10px;
  /* box-sizing: border-box;
  perspective: 1000px;
  height: 200px; 
  position: relative;  */
}

.card .flipped {
  transform: rotateY(180deg);
}

.card img {
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card .front {
  transform: rotateY(180deg);
}

.card .back {
  /* No initial rotation */
}